body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

h1 {
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 800px;
  height: 800px;
}

form {
  border: 1px solid rgb(217, 237, 248);
  width: inherit;
  padding: 20px;
  position: relative;
  height: 250px;
  background: rgb(217, 237, 248);
}

form div {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
}
form label {
  font-size: 20px;
  font-weight: bold;
}

form input {
  width: 100%;
  height: 40px;
  border: none;
  border: 1px solid rgb(217, 237, 248);
  border-radius: 4px;
  font-size: 20px;
  padding-left: 2px;
}
form button {
  padding: 10px;
  border-radius: 4px;
  background-color: green;
  color: white;
  font-size: 15px;
  border: 1px solid green;
}

.btn {
  position: absolute;
  right: 15px;
  bottom: 2px;
}

.all-articles {
  margin-top: 100px;
  height: auto;
}

.container {
  display: flex;
  margin-bottom: 10px;
}

.points {
  width: 150px;
  height: 110px;
  background: rgb(185, 183, 183);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.points p {
  margin: 0;
  font-weight: bold;
}

.num {
  font-size: 60px;
}

.num-des {
  font-size: 15px;
}

.details {
  padding-left: 15px;
  width: 100%;
  position: relative;
}
.article {
  font-size: 35px;
  margin: 0;
  font-weight: bold;
}

.link {
  margin: 0;
  font-size: 15px;
  color: gray;
}

.love {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
}
.vote {
  margin: 20px;
  cursor: pointer;
}

.vote span {
  color: rgb(37, 117, 160);
  font-size: 20px;
  font-weight: bold;
}

.upvote {
  margin-right: 20px;
}
